#mensajes{
    height: 500px;
    width: 100%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}

#mensajes>div>p{
    background-color: rgb(208, 208, 208);
    padding: 10px 5px;
}

#container{
    background-color: rgb(100, 100, 100);
}

#form{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#form>input{
    width: 100%;
}

p{
    border: 1px solid black;
}

#mensaje{
    padding: 10px;
}
